<app-menu></app-menu>
<div class="fundo">


<div class="uk-container ">
    <h1 class="uk-margin-medium-top titile" style="color:#fff">
        <b>Sirva seus projectos e dados <br>com gestão facilitada<br> e a menor latência</b>     </h1>
        <p  style="color:#fff" class="uk-margin-small-top uk-margin-large-bottom"> Conheça nossa infraestrutura em nuvem de Alta Disponibilidade e
             nossas soluções de conectividade resiliente para máximo desempenho.</p>
</div>

</div>



<div class="uk-padding">


    <div class=" ">
        <div class="uk-container">
            <h1 class="titile"> <b>Escolha um plano</b> para começar</h1>

        </div>


        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-3@l espaco uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
                <div>
                    <div class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff " class="titile">FLUXO<b>BÁSICO</b></h2>
                        <p>
        
                         <span uk-icon="server"></span> <b> 10 GB</b> de espaço em <b>SSD</b>
                         <br><span uk-icon="rss"></span> <b> 30 GB</b> de Tráfego mensal
                         <br><span uk-icon="mail"></span><b>  5 contas</b> de E-Mail
                         <br><span uk-icon="database"></span><b>  2 contas</b> FTP
                         <br><span uk-icon="database"></span><b>  3 bases de dados</b> SQL
                         <br><span uk-icon="world"></span><b>  2 subdomínioS</b> FTP</p>
        
                         <h2 style="color:#fff" class="titile"><b>18.000 Kz </b> /ano </h2>
                         <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff">FLUXO<b>MÉDIO</b></h2>
                        <p>
                         
                            <span uk-icon="server"></span> <b> 50 GB</b> de espaço em <b>SSD</b>
                            <br><span uk-icon="rss"></span> <b> 100 GB</b> de Tráfego mensal
                            <br><span uk-icon="mail"></span><b>  25 contas</b> de E-Mail
                            <br><span uk-icon="database"></span><b>  5 contas</b> FTP
                            <br><span uk-icon="database"></span><b>  8 bases de dados</b> SQL
                            <br><span uk-icon="world"></span><b>  5 subdomínios</b> FTP</p>
                            <h2 style="color: #fff;" ><b>62.000 Kz </b>/ano </h2>
                            <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=e2e071d9-31d5-e466-106b-646028758396"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    
        
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff">FLUXO<b>ILIMITADO</b></h2>
                        <p>
                            <span uk-icon="server"></span> Espaço em <b>SSD ilimitado</b>
                            <br><span uk-icon="rss"></span> Tráfego mensal <b> ilimitado</b>
                            <br><span uk-icon="mail"></span><b>  50 contas</b> de E-Mail
                            <br><span uk-icon="database"></span><b>  10 contas</b> FTP
                            <br><span uk-icon="database"></span><b>  10 bases de dados</b> SQL
                            <br><span uk-icon="world"></span><b>  15 subdomínios</b> FTP</p>
                           <h2 style="color: #fff" ><b>150.000 Kz </b>/ano </h2>
                         <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=5196e02e-5136-d427-3d8f-0429807875d3"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
          
            </div>
        </div>
        
        <div class="uk-container">
            <h1 class="titile">Por que escolher a nossa <b>hospedagem?</b></h1>
             
        </div>

        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-4@l espaco uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
                <div>
                    <div class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/backup.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Backup
                        </h3>
                        <p class="uk-text-left">
                            Backups diários automáticos para segurança e rápida recuperação de dados.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/suport.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Suporte técnico 24/7   
                        </h3>
                        <p class="uk-text-left">
                            Suporte técnico 24/7 para resolver problemas e garantir o bom funcionamento do seu site.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/pagamento.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Pagamento em <b>KZ</b>
                        </h3>
                        <p class="uk-text-left">
                            Opções de pagamento em Kwanza (KZ), sem taxas extras ou conversões.
                        </p>
                    </div>
                </div>

                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/infra.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Infraestrutura local e segura    
                        </h3>
                        <p class="uk-text-left">
                            Infraestrutura 100% local, com servidores de alta performance e segurança avançada.
                        </p>
                    </div>
                </div>
          
            </div>
        </div>
        
        </div>

</div>


<div class=" bg">
    <div class="uk-container  ">
        <h1 id="language" style="color:white" class="uk-margin-medium-top titile">Comece o seu Projecto em apenas um Clique</h1>
         

        <div class="uk-child-width-1-4@l uk-child-width-1-1@s uk-grid-match  uk-grid uk-text-center uk-margin-medium-top uk-margin-medium-bottom" uk-grid>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/nodejs.png" alt="Nodejs" class="uk-width-1-1 uk-border-rounded">
                        </div>
                       <p style="color:white" class="uk-text-left">Hospede suas aplicações Node.js de forma rápida e eficiente. Com uma comunidade ativa e milhares de pacotes disponíveis no npm, Node.js é ideal para APIs, microsserviços e apps em tempo real. 
                       </p> 
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/laravel.png" alt="Laravel" class="uk-width-1-1 uk-border-rounded">
                        </div>
                       <p style="color:white" class="uk-text-left"> Leve sua aplicação Laravel à produção com poucos passos. Laravel é amplamente adotado em setores como e-commerce, saúde e fintech, oferecendo estrutura moderna e recursos prontos para aplicações robustas.

                       </p> 
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/wordpress.png" alt="Laravel" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p style="color:white" class="uk-text-left">  Hospedagem WordPress rápida, segura e escalável. Ideal para sites de conteúdo, blogs e portais com alto volume de visitas. Aproveite recursos otimizados para SEO, backups automáticos e suporte dedicado para WordPress.

                        </p> 
                    </div>
                </div>
            </div>

            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/joomla.png" alt="Laravel" class="uk-width-1-1 uk-border-rounded">
                        </div>
                       <p style="color:white" class="uk-text-left"> Hospede seu site Joomla com alto desempenho e confiabilidade. Solução ideal para projetos empresariais, educacionais ou institucionais que exigem segurança, estabilidade e facilidade de gestão de conteúdo.



                       </p> 
                    </div>
                </div>
            </div>

        </div>
    </div>


<app-rodape></app-rodape>