<app-menu></app-menu>
<div class="fundo">


<div class="uk-container ">
    <h1 class="uk-margin-medium-top" style="color:#fff">
        <b>Sirva seus projectos e dados, <br>com gestão facilitada<br> e a menor latência</b>     </h1>
        <p  style="color:#fff" class="uk-margin-small-top uk-margin-large-bottom"> Conheça nosssa infraestrutura em nuvem de Alta Disponibilidade e
             nossas soluções de conectividade resiliente para máximo desempenho.</p>
</div>

</div>



<div class="uk-padding">


    <div class=" ">
        <div class="uk-container">
            <h1> <b>Escolha um plano</b> para começar</h1>

        </div>


        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-3@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
                <div>
                    <div class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff">> FLUXO<b>BÁSICO</b></h2>
                        <p>
        
                         <span uk-icon="server"></span> <b> 10 GB</b> de espaço em <b>SSD</b>
                         <br><span uk-icon="rss"></span> <b> 30 GB</b> de Tráfego mensal
                         <br><span uk-icon="mail"></span><b>  5 contas</b> de E-Mail
                         <br><span uk-icon="database"></span><b>  2 contas</b> FTP
                         <br><span uk-icon="database"></span><b>  3 bases de dados</b> SQL
                         <br><span uk-icon="world"></span><b>  2 subdomínioS</b> FTP</p>
        
                         <h2 style="color:#fff" ><b>18.000 Kz </b> /ano </h2>
                         <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff">> FLUXO<b>MÉDIO</b></h2>
                        <p>
                         
                            <span uk-icon="server"></span> <b> 50 GB</b> de espaço em <b>SSD</b>
                            <br><span uk-icon="rss"></span> <b> 100 GB</b> de Tráfego mensal
                            <br><span uk-icon="mail"></span><b>  25 contas</b> de E-Mail
                            <br><span uk-icon="database"></span><b>  5 contas</b> FTP
                            <br><span uk-icon="database"></span><b>  8 bases de dados</b> SQL
                            <br><span uk-icon="world"></span><b>  5 subdomínios</b> FTP</p>
                            <h2 style="color: #fff;" ><b>62.000 Kz </b>/ano </h2>
                            <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=e2e071d9-31d5-e466-106b-646028758396"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    
        
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                        <h2 style="color: #fff">> FLUXO<b>ILIMITADO</b></h2>
                        <p>
                            <span uk-icon="server"></span> espaço em <b>SSD ilimitado</b>
                            <br><span uk-icon="rss"></span> <b> 100 GB</b> de Tráfego mensal
                            <br><span uk-icon="mail"></span><b>  50 contas</b> de E-Mail
                            <br><span uk-icon="database"></span><b>  10 contas</b> FTP
                            <br><span uk-icon="database"></span><b>  10 bases de dados</b> SQL
                            <br><span uk-icon="world"></span><b>  15 subdomínios</b> FTP</p>
                           <h2 style="color: #fff" ><b>150.000 Kz </b>/ano </h2>
                         <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=5196e02e-5136-d427-3d8f-0429807875d3"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
          
            </div>
        </div>
        
        <div class="uk-container">
            <h1>Por que escolher a nossa <b>hospedagem?</b></h1>
             
        </div>

        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-4@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
                <div>
                    <div class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/backup.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Backup
                        </h3>
                        <p class="uk-text-left">
                            Nossos backups diários automáticos garantem que seus dados estejam sempre seguros. Em caso de imprevistos, você pode restaurar seu site rapidamente, sem perder informações importantes.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/suport.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Suport técnico 24/7   
                        </h3>
                        <p class="uk-text-left">
                            Nosso suporte técnico especializado está disponível 24 horas por dia, 7 dias por semana. Conte com uma equipe pronta para resolver qualquer problema e garantir que seu site funcione perfeitamente.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/pagamento.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Pagamento em <b>KZ</b>
                        </h3>
                        <p class="uk-text-left">
                            Facilitamos sua vida com opções de pagamento em Kwanza (KZ), sem complicações com conversões ou taxas extras. Economize tempo e dinheiro com nossa solução local.
                        </p>
                    </div>
                </div>

                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/infra.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <h3 class="uk-text-left">
                            Insfratura Local e segura    
                        </h3>
                        <p class="uk-text-left">
                            Utilizamos uma infraestrutura 100% local, com servidores de alta performance e sistemas de segurança avançados. Sua hospedagem é rápida, estável e protegida contra ameaças.
                        </p>
                    </div>
                </div>
          
            </div>
        </div>

        <div class="uk-container">
            <h1>Comece o seu Projecto em apenas um Clique</h1>
        </div>
        
        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-4@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
                <div>
                    <div class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/nodejs.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Hospedagem Node.js rápida e escalável, ideal para aplicações de alto tráfego
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/wordpress.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Hospedagem WordPress rápida e escalável, ideal para sites de alto tráfego.    
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/laravel.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Hospedagem Laravel otimizada, com suporte completo para PHP e recursos avançados.    
                        </p>
                    </div>
                </div>

                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/joomla.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Hospedagem Joomla com alto desempenho, confiabilidade e segurança.   
                        </p>
                    </div>
                </div>
          
            </div>
        </div>


        </div>


</div>


<app-rodape></app-rodape>