<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">

                <ul class="footer-links">
                    <li> <img style="width: 200px;" src=""> </li>
                    <li>
                        <b>Siga-nos</b>
                        <div class="uk-child-width-expand@s uk-text-left" uk-grid>
                            <div class="uk-margin-small-top">
                                <a class="uk-margin-medium-right" href="" uk-icon="facebook"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="instagram"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="linkedin"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="youtube"></a>
                            </div>
                        </div>
                    </li>

                    <li class="uk-margin-medium-top"> &copy; Copyright 2025. Angola Cables, SA </li>

                </ul>
            </div>


            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b>Links Úteis</b></li>

                    <li class="uk-margin-medium-top">
                        <p>Termos e Condições</p>
                        <p>Política de Privacidade</p>
                    </li>


                </ul>
            </div>

            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b>Sobre-nós</b></li>

                    <li class="uk-margin-medium-top">
                    
                        <p>Accionistas</p>
                        <p></p>


                    </li>


                </ul>
            </div>



            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b>Contacto</b></li>

                    <li class="uk-margin-medium-top">
                        <p>Angola</p>
                        <p>Portugal</p>
                        <p>RDC</p>
            


                    </li>


                </ul>
            </div>

        </div>
    </div>


</footer>
<footer>
  
</footer>