<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">
                <ul class="footer-links uk-margin-remove">
                    <li class="uk-margin-remove"> <img style="width: 200px;" src=""> </li>
                    <li class="">
                        <b>Siga-nos</b>
                        <div class="uk-child-width-expand@s uk-text-left " uk-grid>
                            <div class="">
                                <a class="" href="" uk-icon="facebook"></a>
                                <a class="" href="" uk-icon="instagram"></a>
                                <a class="" href="" uk-icon="linkedin"></a>
                                <a class="" href="" uk-icon="youtube"></a>
                            </div>
                        </div>
                    </li>
                    <li class=""> &copy; Copyright 2025. FluxoHost. </li>
                </ul>
            </div>

            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <ul class="footer-links uk-margin-remove">
                    <li class="uk-margin-remove"><b>Links Úteis</b></li>
                    <li class="uk-margin-remove">
                        <p class="uk-margin-remove">Perguntas Frequentes</p>
                        <p class="uk-margin-remove">Tutoriais</p>
                        <p class="uk-margin-remove">Termos e Condições</p>
                        <p class="uk-margin-remove">Política de Privacidade</p>
                    </li>
                </ul>
            </div>



            <div class="footer-column">
                <ul class="footer-links uk-margin-remove">
                    <li class="uk-margin-remove"><b>Contacto</b></li>
                    <li class="uk-margin-remove">
                        <p class="uk-margin-remove">Angola</p>
                        <p class="uk-margin-remove">Portugal</p>
                        <p class="uk-margin-remove">RDC</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>