<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">
                <h3 class="" style="color: white;">Siga-nos</h3>
                <ul class="footer-links uk-margin-remove">
                    <li class="uk-margin-remove"> <img style="width: 200px;" src=""> </li>
                    <li class="">
                        <div class="uk-child-width-expand@s uk-text-left " uk-grid>
                            <div class="spaco">
                                <a class="uk-margin-right uk-icon-button" href="" uk-icon="linkedin"></a>
                                <a target="_blank" href="https://www.youtube.com/@fluxodigital2485"
                                    class="uk-icon-button" uk-icon="youtube"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <h3 style="color: white;">Links Úteis</h3>
                <ul class="footer-links ">
                    <li class="">
                        <a routerLink="/faq" style="color: white;">
                            <p>> Perguntas Frequentes</p>
                        </a>

                        <a target="_blank"
                            href="https://youtube.com/playlist?list=PLSR5mDuFKRFPfLAwIPr-mUkGgq0QtnEoK&si=j9tNJdD6MvWcrNua"
                            style="color: white;">
                            <p>> Guias e Tutoriais</p>
                        </a>

                        <p> <a routerLink="/termos-condicoes" style="color: white;">> Termos e Condições</a></p>

                        <a routerLink="/politicas" style="color: white;">
                            <p>> Política de Privacidade</p>
                        </a>
                    </li>
                </ul>
            </div>



            <div class="footer-column">
                <h3 style="color: white;">Contacto</h3>
                <ul class="footer-links ">
                    <li class="">
                        <p class="">> Angola</p>
                        <p class="">> Portugal</p>
                        <p class="">> RDC</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <p class="uk-text-center">&copy; Copyright 2025. FluxoHost.</p>
</footer>