<div class="uk-background-muted">

<div class="uk-container ">

    <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-child-width-1-2@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
            <div>
                <div  class=" uk-border-rounded card  uk-card-body uk-width-1-1@m">
                    <img src="img/domain-registration-services.webp">

    
                </div>
            </div>
            <div>
                <div class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                    <b>Registo de Domínios</b>
                    <h1 style="color:#234d77"><b>Comece registando um domínio Web</b></h1>
    
                    <input style="border-color: rgb(52, 52, 52);" class="uk-input uk-form-width-large uk-border-pill" type="text"
                        placeholder=" Exemplo: seunome.com" aria-label="Large">
                    <button class="uk-margin-medium-top uk-border-pill uk-button uk-button-primary">Verificar
                        Disponibilidade</button>      </div>
            </div>

        </div>
    </div>
    

</div>

    
</div>


<div class="fundo-aspectos-servicos ">
    <div class="uk-container uk-text-center">
        <h1 class=" uk-margin-medium-top " style="color: white"><b>Uma infraestrutura distribuída e resiliente</b></h1>

    </div>

<div class="uk-padding uk-margin-small-left uk-margin-small-right uk-child-width-1-5@m uk-grid-small uk-grid-match uk-text-center" uk-grid>
    <div>
        <div class="uk-card fundo-aspectos uk-border-rounded  uk-card-body">
            <h3 style="color: white;" class="uk-card-title"> <b> Interface <br> Amigável</b></h3>
            <p style="color: white;">Gerencie seus recursos com facilidade utilizando o CPanel. Envie e receba
                E-mails com facilidade usando o Webmail</p>
        </div>
    </div>
    <div>
        <div class="uk-card fundo-aspectos uk-border-rounded uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b> Seguro <br> e Estável</b></h3>
            <p style="color: white;">Nossa infraestrutura é baseada em Linux, garantindo segurança e estabilidade.
            </p>
        </div>
    </div>
    <div>
        <div class="uk-card fundo-aspectos uk-border-rounded  uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Escalável <br>e Flexível</b></h3>
            <p style="color:white">Nosso armazenamento é baseado em Object Storage, permitindo escalabilidade e
                flexibilidade.</p>
        </div>
    </div>
    <div>
        <div class="uk-card fundo-aspectos uk-border-rounded  uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Baixo <br>Custo</b></h3>
            <p style="color:white">Só cobramos o que você usa e temos planos para todas as demandas. Creça de acordo
                com suas necessidades apenas</p>
        </div>
    </div>
    <div>
        <div class="uk-card fundo-aspectos uk-border-rounded  uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Baixa <br> Latência</b></h3>
            <p style="color: white">Estamos conectados à infraestrutura local e interconectados com principais redes
                de conteúdo e trânsito.</p>
        </div>
    </div>
</div>

<div class="uk-text-center ">
    <a><button class="uk-button uk-button-primary uk-border-pill uk-button-large uk-margin-large-bottom ">Conheça nossa tecnologia</button> </a>

</div>
</div>
