.uk-navbar-dropdown{
    border-radius: 20px;
    
}

.uk-offcanvas-bar{
    background: linear-gradient(to top, #234d77, #1e87f0);
    color:white !important;

}

.uk-navbar-toggle {
    color: #ffffff ;
}

nav, .uk-navbar-container{
    
  
    color: white !important;
    background: linear-gradient(to top, #234d77, #1e87f0);
}

.uk-navbar-nav>li>a{
    color: #ffffff !important;
    font-weight: bold;
    font-family: inherit
    
}

.uk-navbar-nav>li>a:hover{
    color: #e2e2e2 !important;
    font-weight: bold;
    font-family: inherit
    
}

@media (max-width: 960px) {
    .logo{
        height: 20px;
        width: 100px;
    }
}