<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li>                        <a href="#"><span class="uk-margin-xsmall-right" uk-icon="icon: home; ratio: 1"></span> Início</a>
                    </li>
                    <li class="uk-active">
                        <a href="#"><span class="uk-margin-xsmall-right" uk-icon="icon: server; ratio: 1"></span>
                            Web Hosting</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav uk-border">
                                <li ><a href="#">Servidores cPanel</a></li>
                                <li><a href="#">Hospedagem WordPress</a></li>

                                <li><a href="#">E-Mails Corporativos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="uk-margin-xsmall-right" uk-icon="icon: cloud-upload; ratio: 1"></span> Cloud</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav uk-border">
                                <li ><a href="#">Servidores Virtuais Privados (VPS)</a></li>
                                <li><a href="#">Armazenamento</a></li>
                                <li><a href="#">DBaaS</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"> <span class="uk-margin-xsmall-right" uk-icon="icon:world; ratio: 1"></span>Rede</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav uk-border">
                                <li ><a href="#">VPN</a></li>
                                <li><a href="#">Roteador Virtual</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#"> <span class="uk-margin-xsmall-right" uk-icon="icon:world; ratio: 1"></span> Domínios</a>
                      
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li><a href="#"> <button class="uk-button uk-button-primary uk-border-rounded">Área de Cliente</button></a></li>
                    
                </ul>

            </div>

        </div>
    </div>
</nav>