<app-menu></app-menu>
<div class="fundo">


<div class="uk-container ">
    <h1 class="uk-margin-medium-top" style="color:#fff">
        <b>Sirva seus projectos e dados, <br>com gestão facilitada<br> e a menor latência</b>     </h1>
        <p  style="color:#fff" class="uk-margin-small-top uk-margin-large-bottom"> Conheça nosssa infraestrutura em nuvem de Alta Disponibilidade e
             nossas soluções de conectividade resiliente para máximo desempenho.</p>
</div>

</div>

<div class="uk-padding">


    <div class=" ">
        <div class="uk-container">
            <h1> <b>Escolha um plano</b> para começar</h1>

        </div>

        <div class="uk-container">
            <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
                <div class="uk-child-width-1-2@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
                    <div>
                        <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                            <img src="img/domain-registration-services.webp">
                        </div>
                    </div>
                    <div>
                        <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                            <b>Registo de Domínios</b>
                            <h1 style="color:#234d77"><b>Comece registando um domínio Web</b></h1>

                            <!-- Input para o domínio -->
                            <input id="dominioInput" style="border-color: rgb(52, 52, 52);" class="uk-input uk-form-width-large uk-border-pill" type="text" placeholder="Exemplo: suaempresa.com" aria-label="Large" [(ngModel)]="dominio">

                            <!-- Botão de verificação -->
                            <button id="verificarBtn" class="uk-margin-medium-top uk-border-pill uk-button uk-button-primary" (click)="verificarDominio()">
                                Verificar Disponibilidade hhhh
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-container uk-margin-large-top uk-margin-large-bottom ">
            <div class="uk-child-width-1-4@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
                <div>
                    <div class=" uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/com.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            O domínio .com é o mais popular e confiável do mundo. Ideal para negócios globais, marcas reconhecidas e projetos que buscam credibilidade e alcance internacional
                        </p>
                        <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/online.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Moderno e versátil, o domínio .online é ideal para negócios digitais, cursos online e presença na internet. Mostre que sua marca está conectada com o futuro."
                        </p>
                        <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/net.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Perfeito para projetos de tecnologia, redes e infraestrutura online. O domínio .net é sinônimo de inovação e conectividade, ideal para quem busca um nome forte e memorável.    
                        </p>
                        <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=net&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=27831d63-50d8-2495-69dc-d49e176259e0&sub_pids=293e8d56-9d07-2459-050a-54e853121607"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>

                <div>
                    <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                        <div class="imagem imagemk-width-1-3@l uk-width-1-1@s">
                            <img src="img/org.png" alt="Imagem Básico" class="uk-width-1-1 uk-border-rounded">
                        </div>
                        <p class="uk-text-left">
                            Domínio preferido de organizações, instituições sem fins lucrativos e projetos comunitários. O .org transmite confiança e compromisso com causas sociais e educacionais   
                        </p>
                        <a target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=org&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=27831d63-50d8-2495-698a-d49e176259e0&sub_pids=293e8d56-9d07-2459-050a-54e853121607"><button type="button" class="uk-button uk-button-primary uk-border-rounded"><span class="uk-margin-small-right" uk-icon="cart"></span>Comprar</button></a>
                    </div>
                </div>
          
            </div>
        </div>

        </div>
    
</div>

<app-rodape></app-rodape>