<app-menu></app-menu>
<div class="fundo uk-background-muted   ">


    <div class="uk-container ">
        <h1 class="uk-margin-medium-top" style="color:#fff">
            <b>Registre seus domínios e proteja sua marca,
            <br>com gestão simplificada<br> e a melhor performance.</b>
        </h1>
        <p style="color:#fff" class="uk-margin-small-top uk-margin-large-bottom">Conheça nossa plataforma de registro de domínios,
            com gestão simplificada e alta confiabilidade,
            garantindo que sua marca esteja sempre online e conectada ao mundo</p>
    </div>

</div>

<div class="uk-padding uk-background-muted ">
    <div>
        <div class="uk-container">
            <h1> <b>Escolha um plano</b> para começar</h1>

        </div>

        <div class="uk-container">
            <div >
                <div class="uk-child-width-1-2@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
                    <div>
                        <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                            <img src="img/domain-registration-services.webp">
                        </div>
                    </div>
                    <div>
                        <div class="uk-border-rounded card uk-card-body uk-width-1-1@m">
                          <b>Registo de Domínios</b>
                          <h1 style="color:#234d77"><b>Comece registando um domínio Web</b></h1>
                      
                          <!-- Input para o domínio -->
                          <input id="dominioInput" style="border-color: rgb(52, 52, 52);"
                            class="uk-input uk-form-width-large uk-border-pill" type="text"
                            placeholder="Exemplo: suaempresa.com" aria-label="Large" [(ngModel)]="dominio">
                      
                          <!-- Animação de carregamento -->
                          <div *ngIf="isLoading" class="uk-margin-small-top">
                            <div class="uk-text-center">
                              <div class="uk-spinner" uk-spinner="ratio: 2"></div>
                              <p>Verificando disponibilidade...</p>
                            </div>
                          </div>
                      
                          <!-- Resposta da API -->
                          <div *ngIf="resposta && !isLoading" class="uk-margin-small-top">
                            <div class="uk-card uk-card-body uk-border-rounded uk-box-shadow-medium">
                              <div [ngClass]="alertClass">
                                <p class="uk-text-left uk-text-lead">{{ resposta }}</p>
                              </div>
                            </div>
                          </div>
                      
                          <!-- Botão de verificação -->
                          <button id="verificarBtn"
                            class="uk-margin-medium-top uk-border-pill uk-button uk-button-primary"
                            (click)="verificarDominio()" [disabled]="isLoading">
                            Verificar Disponibilidade
                          </button>
                        </div>
                      </div>
            </div>
        </div>

    </div>

    </div>
</div>
<div class="bg">
    <div class="uk-container  ">
        <h1 style="color:white" class="uk-margin-medium-top">Temos o <b>melhor preço</b> e as principais extensões  </h1>
         
        <div class="uk-child-width-1-4@l uk-child-width-1-1@s  uk-grid uk-text-center uk-margin-medium-top uk-margin-medium-bottom" uk-grid>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">

                        <h3 class="uk-margin-remove"  style="color: white;  font-size:46px"><b>.com</b>                      </h3>
                       <h2 style="color:white"> 29.990 Kz </h2> 
                    </div>
                    <div>
                    <a class="uk-button uk-button-default uk-border-pill" style="color:white" target="_blank"
                        href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607">
                        <span   uk-icon="cart"></span>COMPRAR </a>
                    </div>
                </div>
            </div>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">

                        <h3 class="uk-margin-remove"  style="color: white;  font-size:46px"><b>.online</b>                      </h3>
                       <h2 style="color:white"> 25.000 Kz </h2> 
                    </div>
                    <div>
                    <a class="uk-button uk-button-default uk-border-pill" style="color:white" target="_blank"
                        href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607">
                        <span   uk-icon="cart"></span>COMPRAR </a>
                    </div>
                </div>
            </div>
            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">

                        <h3 class="uk-margin-remove"  style="color: white;  font-size:46px"><b>.net</b>                      </h3>
                       <h2 style="color:white"> 29.990 Kz </h2> 
                    </div>
                    <div>
                    <a class="uk-button uk-button-default uk-border-pill" style="color:white" target="_blank"
                        href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607">
                        <span   uk-icon="cart"></span>COMPRAR </a>
                    </div>
                </div>
            </div>

            <div>
                <div class=" uk-border-rounded uk-card-default uk-card-body uk-width-1-1@m">
                    <div class="uk-width-1-1@s">

                        <h3 class="uk-margin-remove"  style="color: white;  font-size:46px"><b>.org</b>                      </h3>
                       <h2 style="color:white"> 29.990 Kz </h2> 
                    </div>
                    <div>
                    <a class="uk-button uk-button-default uk-border-pill" style="color:white" target="_blank"
                        href="https://q28hpkmheelk.upmind.app/order/product?pfields%5Bsld%5D=com&catid=50381d78-0e72-d4d6-860c-8413569926e5&pid=35983e23-06e7-5409-756b-24981d210d76&sub_pids=293e8d56-9d07-2459-050a-54e853121607">
                        <span   uk-icon="cart"></span>COMPRAR </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-rodape></app-rodape>