


<div class="fundo-contacto">

    <div class="uk-container uk-margin-large-bottom  ">
        <h1 class="uk-margin-large-top titile" ><b>Serviço com suporte local 24/7</b>
        </h1>
        <p>Os nossos técnicos estão disponíveis 24 horas, 7 dias por semana para ajudar</p>
    </div>
    
    
    
    <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-child-width-1-4@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
            
            <div>
                <div class="uk-card fundo-luanda uk-border-rounded uk-card-hover uk-card-body uk-flex uk-flex-column">
                    <h3 class="uk-card-title" style="color: white;"><b>Luanda</b>, Angola</h3>
                    <p style="color: white;">Se você está procurando por uma empresa que possa atender às suas necessidades em Luanda, por favor entre em contato conosco. Estamos ansiosos para discutir como podemos ajudá-lo a alcançar seus objetivos.</p>
                    <div class="uk-margin-auto-top">
                        <a href="https://t.me/+244937754502" target="_blank"><button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale connosco</button>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card fundo-madeira uk-border-rounded uk-card-hover uk-card-body uk-flex uk-flex-column">
                    <h3 class="uk-card-title" style="color: white;"><b>Madeira</b>, Portugal</h3>
                    <p style="color: white;">Estamos próximos ao mercado europeu e temos acesso a uma infraestrutura de transporte e logística de ponta, o que nos permite oferecer serviços de alta qualidade e rapidez aos nossos clientes.</p>
                    <div class="uk-margin-auto-top">
                        <a href="https://t.me/+244937754502" target="_blank"><button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale connosco</button>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card fundo-kinshasa uk-border-rounded uk-card-hover uk-card-body uk-flex uk-flex-column">
                    <h3 class="uk-card-title" style="color: white;"><b>Kinshasa</b>, RDC</h3>
                    <p style="color: white;">Kinshasa é uma cidade em crescimento e oferece muitas oportunidades de negócios. Nossa presença na região nos permite aproveitar essas oportunidades e oferecer serviços de alta qualidade aos nossos clientes.</p>
                    <div class="uk-margin-auto-top">
                        <a href="https://t.me/+244937754502" target="_blank"><button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale connosco</button>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card fundo-parceiros uk-border-rounded uk-card-hover uk-card-body uk-flex uk-flex-column">
                    <h3 style="color: white;" class="uk-card-title">Torna-te parceiro</h3>
                    <p style="color:white" >Se você está interessado em se tornar um parceiro, por favor entre em contato conosco. Nossa equipe de parcerias estará feliz em discutir as oportunidades e os requisitos para a parceria.</p>
                    <div class="uk-margin-auto-top">
                        <a href="https://t.me/+244937754502" target="_blank"><button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale connosco</button>
                        </a>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</div>
