<div class="uk-container uk-margin-large-top uk-margin-large-bottom  ">
    <h1 class="" ><b>Serviço com suporte local 24/7</b>
    </h1>
    <p>Os nossos técnicos estão disponíveis 24 horas, 7 dias por semana para ajudar</p>
</div>


<div class="fundo-contacto">



<div class="uk-container  ">

<div class="uk-child-width-1-2@s uk-grid-match uk-margin-large-bottom" uk-grid>
    <div>
        <div class=" fundo-luanda uk-border-rounded  uk-card-hover uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Luanda</b>, Angola</h3>
            <p style="color: white;">Se você está procurando por uma empresa que possa atender às suas necessidades em Luanda, por favor entre em contato conosco. Estamos ansiosos para discutir como podemos ajudá-lo a alcançar seus objetivos.</p>
            <button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale conosco</button>
        </div>
    </div>

    <div>
        <div class=" fundo-madeira uk-border-rounded  uk-card-hover uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Madeira</b>, Portugal</h3>
            <p style="color: white;">Estamos próximos ao mercado europeu e temos acesso a uma infraestrutura de transporte e logística de ponta, o que nos permite oferecer serviços de alta qualidade e rapidez aos nossos clientes.</p>
            <button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale conosco</button>

        </div>
    </div>

    
    <div>
        <div class="  fundo-kinshasa uk-border-rounded  uk-card-hover uk-card-body">
            <h3 style="color: white;" class="uk-card-title"><b>Kinshasa</b>, RDC</h3>
            <p style="color: white;">Kinshasa é uma cidade em crescimento e oferece muitas oportunidades de negócios. Nossa presença na região nos permite aproveitar essas oportunidades e oferecer serviços de alta qualidade aos nossos clientes.</p>
            <button class="uk-button uk-button-large uk-button-primary uk-border-pill">Fale conosco</button>

        </div>
    </div>

    <div>
        <div class=" uk-light uk-card uk-border-rounded fundo-parceiros uk-card-hover uk-card-body uk-light">
            <h3 class="uk-card-title">Torna-te parceiro</h3>
            <p>Se você está interessado em se tornar um parceiro, por favor entre em contato conosco. Nossa equipe de parcerias estará feliz em discutir as oportunidades e os requisitos para a parceria.</p>
            <button class="uk-button uk-button-large uk-button-default uk-border-pill">Fale conosco</button>

        </div>
    </div>
</div>
</div>

</div>