.fundo-luanda {
    background-image: url('/img/luanda-fluxohost.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;


}


.fundo-luanda:hover{
  
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


.fundo-madeira {
    background-image: url('/img/madeira_fluxohost.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;


}

.fundo-madeira:hover{
  
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.fundo-kinshasa {
    background-image: url('/img/kinshasa_fluxohost.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;


}


.fundo-kinshasa:hover{
  
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


.fundo-parceiros{
    background: linear-gradient(to top, #234d77, #1e87f0);
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;



}



.fundo-parceiros:hover{
  
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


.fundo-contacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/img/fundo-contacto.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  }