<div class="uk-padding fundo">


    <div class="uk-container ">


        <div>
            <h1 style="color:white">
                <b>Poder de computação, <br>resiliência de dados<br> e conectividade</b>
            </h1>
            <p style="color:white" class="uk-margin-small-top"> Conheça nosssa infraestrutura em nuvem de Alta
                Disponibilidade e <br>
                nossas soluções de conectividade resiliente para máximo desempenho.</p>
        </div>

        <div class="fundo ">

            
            <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
                <div class="uk-child-width-1-3@l uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
                    <div>
                        <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;" class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                            <h2 style="color: rgb(255, 255, 255)"><b> Hospede um projecto Web </b> </h2>
                            <p style="color:white">
                                cPanel & RoundCube
                           </p>
            
                             <a class="uk-border-pill uk-button  uk-button-secondary " style="color:white" target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085">> Começar agora</a>
                        </div>
                    </div>
                    <div>
                        <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;" class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                            <h2 style="color: rgb(255, 255, 255)"><b> Souluções em Nuvem </b> </h2>
                            <p style="color:white">
                               VPS, Object Storage & DBaaS 
                           </p>
                           <a class="uk-border-pill uk-button  uk-button-secondary " style="color:white" target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085">> Começar agora</a>
                        </div>
                    </div>
                    <div>
                        <div style="background: linear-gradient(to top, #234d77, #1e87f0); border-radius: 20px;" class=" uk-border-rounded card uk-card-default uk-card-body uk-width-1-1@m">
                            <h2 style="color: rgb(255, 255, 255)"><b> Soluções de rede privada </b> </h2>
                            <p style="color:white">
                                No VPN
                           </p>
            
                             <a class="uk-border-pill uk-button  uk-button-secondary " style="color:white" target="_blank" href="https://q28hpkmheelk.upmind.app/order/product?pid=01e96d29-8537-d4e8-6d2a-14e120637085">> Começar agora</a>
                        </div>
                    </div>
              
                </div>
            </div>
            
            </div>

    </div>

</div>